<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- **45530 женщин и 24470 мужчин**
- 45530 мужчин и 24470 женщин

In [8]:
df.groupby('gender').height.describe()

          count        mean       std   min    25%    50%    75%    max
gender
1       45530.0  161.355612  7.052726  55.0  157.0  161.0  166.0  250.0
2       24470.0  169.947895  7.228895  65.0  165.0  170.0  175.0  207.0

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- **женщины**

In [9]:
df.groupby('gender').alco.describe()

          count      mean       std  min  25%  50%  75%  max
gender
1       45530.0  0.025500  0.157639  0.0  0.0  0.0  0.0  1.0
2       24470.0  0.106375  0.308323  0.0  0.0  0.0  0.0  1.0

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- **12**
- 16

In [15]:
m_smoke = df.groupby('gender').smoke.mean()
print(m_smoke)
print(m_smoke[2] / m_smoke[1])

gender
1    0.017856
2    0.218880
Name: smoke, dtype: float64
12.257833097333833

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- **20**
- 25

In [18]:
(df.age/365).describe()

count    70000.000000
mean        53.339358
std          6.759594
min         29.583562
25%         48.394521
50%         53.980822
75%         58.430137
max         64.967123
Name: age, dtype: float64

In [26]:
s_months = (df.groupby('smoke').age.median()/(365/12))
print(s_months)
print(s_months[0] - s_months[1])

smoke
0    648.394521
1    628.767123
Name: age, dtype: float64
19.627397260273938

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

In [36]:
df['age_years'] = df.age.map(lambda m: round(m/365)).astype('int64')
df_men = df[(df.gender == 2) & (df.age_years >= 60) & (df.age_years <= 64)]

In [46]:
gr_1 = df_men[(df_men.ap_hi < 120) & (df_men.cholesterol == 1)]
gr_2 = df_men[(160 <= df_men.ap_hi) & (df_men.ap_hi < 180) & (df_men.cholesterol == 3)]

In [40]:
df_men.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
count,5437.000000,5437.0,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000,5437.000000
mean,22584.320581,2.0,168.992827,77.151462,132.286923,100.988597,1.453559,1.261357,0.182821,0.087732,0.795292,0.639875,61.882656
std,576.147557,0.0,7.256632,13.861448,28.892522,178.578492,0.755106,0.611938,0.386556,0.282931,0.403526,0.480081,1.553032
min,21718.000000,2.0,71.000000,40.000000,-150.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,60.000000
25%,21977.000000,2.0,165.000000,68.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,60.000000
50%,22592.000000,2.0,169.000000,75.000000,130.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,62.000000
75%,23193.000000,2.0,173.000000,85.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,64.000000
max,23542.000000,2.0,198.000000,160.000000,1300.000000,9800.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,64.000000

In [47]:
c_1 = gr_1.cardio.mean()
c_2 = gr_2.cardio.mean()
print(c_2/c_1)

2.15

**<font color='red'>Варианты:</font>**
- **2**
- 3
- 4
- 5

In [8]:
# Ваш код здесь

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

In [53]:
df['BMI'] = df.weight / (df.height/100)**2

In [55]:
df.BMI.median()

26.374068120774975

In [56]:
df.groupby('gender').BMI.mean()

gender
1    27.987583
2    26.754442
Name: BMI, dtype: float64

In [61]:
df.groupby(by=('cardio', 'alco', 'gender')).BMI.mean()

cardio  alco  gender
0       0     1         26.845407
              2         25.872638
        1     1         28.671457
              2         26.097220
1       0     1         29.052771
              2         27.522450
        1     1         30.812347
              2         28.226569
Name: BMI, dtype: float64

**<font color='red'>Утверждения:</font>**
- **Медианный BMI по выборке превышает норму**
- У женщин в среднем BMI ниже, чем у мужчин -- no
- У здоровых в среднем BMI выше, чем у больных -- no
- **В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин**

In [9]:
# Ваш код здесь

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

In [68]:
h_low = df.height.quantile(2.5/100)
h_hi = df.height.quantile(97.5/100)
print(h_low, h_hi)

150.0 180.0

In [64]:
(df.ap_lo > df.ap_hi).mean()

0.017628571428571427

In [70]:
((df.height < h_low) | (df.height > h_hi)).mean()

0.04251428571428571

In [71]:
w_low = df.weight.quantile(2.5/100)
w_hi = df.weight.quantile(97.5/100)
print(w_low, w_hi)

51.0 108.0

In [72]:
((df.weight < w_low) | (df.weight > w_hi)).mean()

0.044328571428571426

In [73]:
((df.ap_lo > df.ap_hi) | (df.height < h_low) | (df.height > h_hi) | (df.weight < w_low) | (df.weight > w_hi)).mean()

0.0963

In [74]:
round(9.63)

10

**<font color='red'>Варианты:</font>**
- 8
- 9
- **10**
- 11

In [10]:
# Ваш код здесь